@page
@model WebMVCUI.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    ViewData["Title"] = "Thông tin khách hàng";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-2">
        <b>Tên</b>
    </div>
    <div class="col-10">
        @Model.Customer.FullName
    </div>
    <div class="col-2">
        <b>Email</b>
    </div>
    <div class="col-10">
        @Model.Customer.Email
    </div>
    <div class="col-2">
        <b>Số điện thoại</b>
    </div>
    <div class="col-10">
        @Model.Customer.PhoneNumber
    </div>
    <div class="col-2">
        <b>Địa chỉ</b>
    </div>
    <div class="col-10">
        @Model.Customer.Address
    </div>
</div>

